
html {
  font-size: 62.5%; 
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: beige;
  font-family: Arial, sans-serif;
  margin: 0;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #8c79b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 5%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 2rem;
  font-style: italic;
  
}



#cursive h2 {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 3rem;
  margin-top: 100px;
  color: #333;
  border-right: 3px solid #333; /* Cursor effect */
  width: fit-content; /* Adjusts to the text width */
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-decoration:solid;
  animation: typing 3s steps(30, end), blink-caret 0.6s step-end infinite;
}



@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.gallery img {
  width: 100%;
  height: auto;
  border: 5px solid white;
  border-radius: 20%;
  box-shadow: 0 5px 15px rgba}
